body {
  margin: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
.hidden {
  display: none;
}

.background-div {
  background-image: url(./assets/pexels-pixabay-159291.jpg);
  background-position: center;
  background-size: cover;
  min-height: 70vh;
  color: white;
  margin: 0%;
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#title {
  margin-top: 10rem;
  text-align: center;
}

#description{
  text-align: center;
}

#main-title {
  margin-top: 7rem;
  text-align: center;
  margin-top: 5rem;
}

#zipcode-input {
  height: 25px;
  border: 1px solid black;
  border-radius: 16px;
  background-color: transparent;
  text-align: center;
  color:white;
  font-weight: 500;
}

#zipcode-input::placeholder {
  color: white;
  font-weight: 600;
}

#submit-zip-input {
  height: 25px;
  width: 75px;
  background-color: #1e3c56;
  border-radius: 16px;
  border: none;
  color: white;
}

#submit-zip-input:hover {
  transform: scale(1.05);
  cursor: pointer;
}

select:invalid {
  color: grey;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.liked {
  color: red;
}

ion-icon {
  color: #D0D3D4;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  transform: scale(1.05);
}

#brewery-list{
  list-style-type: none;
  background-color: rgba(48, 43, 43, 0.56);
  padding: 10px;
  border-radius: 5px;
}

#brewery-list > ul {
  list-style-type: georgian;
}

#fav-selector {
  border-radius: 16px;
  text-align: center;
  height: 30px;
  color: white;
  background-color: transparent;
  border: 2px solid #081e31;
  font-size: 15px;
  padding: 5px;
}

option {
  background-color:#1e3c56;
  color:white
}

#fav-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e3c56;
  min-height: 30vh;
  color: white;
  margin: 0%;
}

#fav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5rem;
  background-color: #081e3187;
    padding: 3rem;
}

footer {
  margin: 0%;
  text-align: center;
  height: 10vh;
  background-color: #150d07;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;

}

span{
  font-size: large;
}

iframe{
  border-radius: 5px;
  margin: 1rem;
}